/* GLOBAL STYLING */
body {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

/* BUTTON STYLING */
button {
    background-color: #C271FF;
    border-radius: 15%;

}

/* HEADER STYLING */
header {
    background-image: url('images/background.png');
    height: auto;
}

.logo-nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* HERO SECTION */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* PEOPLE SECTION */
.people-container {
    text-align: center;
    padding: 5rem;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero h1 {
    font-size: 120px;
}

/* QUOTE SECTION */
.quote {
    background-color: aqua;
    margin: auto;
}

.quote-container {
    display: flex;
    align-items: center;
    width: 75%;
}

/* VIDEO SECTION */
.videos {
    background-color: aquamarine;
    text-align: center;
}

.video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}
